<div class="container">
  <h1 class="text-white bg-dark text-center">welcomes To SchoolManagement</h1>
</div>

<style media="screen">
  body{
  background: url(<%= asset_path 'How-to-cope-with-the-student-life-in-three-easy-steps.jpg' %>)
}
</style>
